/* ----- Imports ----- */
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* ----- Body ----- */
body{
    font-family:Raleway;
    background: linear-gradient(#CCC,#777) fixed; /* Old browsers */
}
hr{
    padding:10px;
    margin:auto;
    width:50%;
    min-width:300px;
}
/* ----- Header ----- */
.header{
    height:50px;
    min-width:800px;
    text-align:center;
    color:#555;
    font-family:Raleway;
    text-shadow:2px 2px 3px #555;
    opacity:0; /* JS */
}
/* ----- Form ----- */
.formContent{
    background:#FFF;
    opacity:0; /* JS */
    margin:0 auto;
    
}
#form{
    background:#FFF;
    padding-bottom:5px;
    min-width:900px;
    height:auto;
    border-radius:5px;
    box-shadow:0px 5px 3px #777;
    opacity:1; /* JS */
}
#form h1{
    padding:20px 0 0 0;
    font-size:2em;
    text-align:center;
}
.table{
    display:table; 
    border-collapse:separate;
    border-spacing:15px;
    width:750px;
    margin:auto;
    /background:#EEE;
}
#form .tc1{
    display:table-cell;
    /background:#DDD;
}
#form .tc1 h2{
    margin:0;
    padding:10px 10px 0 10px;
    font-size:1.5em;
}
#form .tc1 .list{
    display:block;
    padding-left:20%;
}
#form .tc1 .list label{
    font-weight: normal;
}
label{
    color:#3E3E3E;
}
#form .tcsp{
    display:table-cell;
    width:1px;
    background:#CCC;
    border-radius:10px;
}
#form .tc2{
    /background:#DDD;
    display:table-cell;
    text-align:center;
}
#form .tc2 h2{
    margin:0;
    padding:10px;
    font-size:1.5em;
}
#form .tc2 button{
    margin:10px auto;
}
#form .tc2 select{
    margin:3px auto;
}
#form .tc2 #alertCount {
    margin-top:5px;
    color:#888;
    font-style:italic;
}
/* ----- Login ----- */

#connection {
    background:#FFF;
    padding-bottom:5px;
    border-radius:5px;
    box-shadow:0px 5px 3px #777;
    visibility:hidden;
    display:none;
    opacity:0;
}
#connection h1{
    text-align:center;
    font-size:2em;
    padding-top:20px;
}
#login{
    display:block;
    margin:10px auto;
    width:125px;
    position:relative;
}

.formLogin{
    text-align:center;
}
/* ----- Buttons Form ----- */
.buttons{
    text-align:center;
}
#buttonAddYear{
    display:inline-block;
}
#login{
    display:inline-block;
}
/*
input[type=checkbox]:not(old),input[type=radio]:not(old){
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=checkbox]:not(old) + label, input[type=radio]:not(old) + label{
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=checkbox]:not(old) + label > span, input[type=radio]:not(old) + label > span{
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192,192,192);
    border-radius: 0.25em;
    background: rgb(224,224,224);
    background-image:-moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image:-ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image:-o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image:-webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image:linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span, input[type=radio]:not(old):checked + label > span{
    background-image :-moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :-ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :-o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :-webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
    content: '✓';
    display: block;
    width: 1em;
    color: rgb(153,204,102);
    font-size: 0.875em;
    line-height: 1em;
    text-align: center;
    text-shadow: 0 0 0.0714em rgb(115,153,77);
    font-weight: bold;
}

input[type=radio]:not(old):checked + label > span > span{
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid rgb(115,153,77);
    border-radius: 0.125em;
    background: rgb(153,204,102);
    background-image :-moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :-ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :-o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :-webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :linear-gradient(rgb(179,217,140),rgb(153,204,102));
}*/
/* -----  ----- */
/* -----  ----- */
/* -----  ----- */
